* {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 720px;
  height: 820px;
}

.header {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  height: 90px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  background-color: #f46931;
  border-radius: 8px;
}

.header input {
  height: 35px;
  width: 350px;
  background-color: #006f46;
  color: white;
  border: none;
  outline: none;
  border-radius: 8px;
  padding-left: 10px;
  font-size: 18px;
}

.header input::placeholder {
  color: white;
  opacity: 1;

}

.header-div {
  background-color: inherit;
}

.controler {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 70px;
  width: 100%;
  margin: 10px 0px 10px 0;
  background-color: #006f46;
  font-size: 18px;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
}

.controler-contador {
  color: #ffffff;
  background-color: #006f46;
}

.controler-opcoes {
  display: block;
  border-radius: 8px;
  width: 90px;
  height: 39px;
  border: none;
  outline: none;
}

.botao-ver {
  border: none;
  height: 38px;
  width: 90px;
  background-color: #006f46;
  color: #FFFFFF;
  font-size: 18px;
  border-radius: 8px;
}

.botao-lar {
  background-color: #f46931;
}

.botoes:hover {
  background-color: #073826;
}

.botaocomprar:hover {
  background-color: rgb(67, 80, 96);
}

.botoesVermelhos {
  background-color: red;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.botoesVermelhos:hover {
  background-color: rgb(72, 7, 7);
}

.content {
  box-sizing: border-box;
  margin-bottom: 10px;
  padding: 0;
  width: 100%;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

ul {
  box-sizing: border-box;
  list-style: none;
  padding: 0;
  margin: 1rem 0;
}

li {
  box-sizing: border-box;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 20px;
  background-color: #ffffff;
  margin-bottom: 8px;
  border-bottom: 1px solid black;
}

.divBotoes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 200px;
}
